language: php

sudo: false

matrix:
    include:
        - php: 7.1
        - php: 7.2
        - php: 7.3
        - php: hhvm
    fast_finish: true

before_script: composer install
script: composer phpunit
